<h3>Later Posts:</h3>
<br />
<% @results.each do |post| %>
<p>
<%= post['content'] %>	
</p>
<span style="font-size: 75%; color: #999;">Add to <%= post['created_date'] %><br />
Autor: <%= post['autor'] %></span>
<br />
<a href="/details/<%= post['id'] %>">Comments</a>

<hr />

<% end %>
