<h3>Later Posts:</h3>
<br />
<% @results.each do |post| %>
<p>
<%= post['content'] %>	
</p>
Add to <%= post['created_date'] %>
<br />
<a href="/post/<%= post['id'] %>">Comments</a>

<hr />

<% end %>
